TestFiles
at_astar
brfs
pr2plan
pr2plan_complex
siw-then-bfsf
wa-planner
planner
*.o
*.sconsign.dblite
venv
__pycache__
*.xml
.idea


*.sol
*_observations
_hypotheses


pr-domain.pddl
pr-problem.pddl
*.stats
*.object
ff
planner2
